02-week/task-2/games.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT games (game*)>
<!ELEMENT game (home-team, ex-team, scores, yellows, reds)>
<!ATTLIST game score CDATA #REQUIRED>
<!ELEMENT home-team (#PCDATA)>
<!ELEMENT ex-team (#PCDATA)>
<!ELEMENT scores (score+)>
<!ELEMENT score (player+)>
<!ATTLIST score
    me CDATA #REQUIRED
    type (field | penalty) #IMPLIED
>
<!ELEMENT player (#PCDATA)>
<!ELEMENT yellows (player+)>
<!ELEMENT reds (player+)>